package layout

templ Base() {
	<html>
		<head>
			<link href="/public/css/output.css" rel="stylesheet"/>
		</head>
		<body>
			{ children... }
			<script src="/public/preline/dist/preline.js"></script>
		</body>
	</html>
}
